/* arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local('Cairo'), local('Cairo-Regular'), url('../fonts/Cairo-Regular.ttf') format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local('Cairo'), local('Cairo-Regular'), url('../fonts/Cairo-Bold.ttf') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local('Cairo'), local('Cairo-Regular'), url('../fonts/Cairo-ExtraLight.ttf') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body{
    margin: 0;
    padding: 0;
    direction: rtl;
    
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color:  rgba(221, 221, 221, 0.25);
  }

  .people{
    margin: 30px;
    box-shadow: -1px 4px 13px -4px rgba(51, 51, 51, 0.66);
    border-radius: 5px;
    overflow: hidden;
     background: rgba(255, 255, 255, 0.81);
  }
  .people .body{
    height: 72vh;
    overflow: auto
  }

  .people td.control{
     width: 100px
  }
  .people td.control button{
    border: none;
    border-radius: 3px;
    box-shadow: 0px 3px 9px -2px rgba(51, 51, 51, 0.58);
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: .3s;
  }
  .people td.control button:hover{
    box-shadow: 0px 3px 9px 0px rgba(51, 51, 51, 0.58);
  }
  .people td.control button.btn-edit{
   background: #ff9800
  }
  .people td.control button.btn-delete{
   background: #e91e1e
  }